html, body {
  height: 100%;
  font-family: sans-serif;
  background: white;
  font-size: 1.25rem;
  letter-spacing: .3px;
  scroll-behavior: smooth;
}


/* PROMPTS */

.wrapper {
  margin: 25px;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prompt-list {
  display: flex;
  flex-direction: column;  
  gap: 40px;
  width: 300px;
  line-height: 150%;
}

.prompt {
  color: mediumorchid;
  font-family: sans-serif;
  border: 1px solid white;
  padding: 8px 12px;
  text-transform: uppercase;
  /* transition: box-shadow .5s; */
}

.single-prompt {
  display: block;
}

/* INFO */

a {
  color: mediumorchid;
  text-decoration: underline;
  text-decoration-color: mediumaquamarine;
  transition: text-decoration-color .2s;
}

a:hover {
  cursor: pointer;
  text-decoration-color: aquamarine;
}

.title {
  text-decoration: none;
}


.header {
  width: 100%;
  background: linear-gradient(180deg, #FFFFFF 40%, #ffffff6b 68.49%, rgba(255, 255, 255, 0) 100%);
  position: fixed;
  top: 0;
  text-align: center;
  color: mediumorchid;
  padding: 24px 0px;
  text-transform: uppercase;
  font-size: .75rem;
}

div.about, div.choose {
  color: mediumorchid;
  border: 1px dashed mediumorchid;
  padding: 8px 16px;
  background-color: white;
  position: fixed;
  font-size: .75rem;
}

div.about:hover, div.choose:hover {
  cursor: pointer;
}

div.about {
  top: 16px;
  right: 16px;
}

div.choose {
  top: 16px;
  left: 16px;
}



.list {
  line-height: 200%;
  list-style: none;
}

.year {
  font-size: .675rem;
  font-style: italic;
  padding-right: 8px;
}

.credits {
  font-size: .6rem;
  margin-top: 24px;
}

.intro-modal {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid mediumorchid;
    width: 50vw;
    position: fixed;
    top: 20%;
    bottom: 20%;
    transform: translate(0px, -5px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: mediumorchid;
    padding: 25px;
    font-size: .75rem;
}

.hide {
  display: none;
}

#top {
  position: absolute;
  top: 0;
}

/* PAGINATION & LOADING  */

.paginate {
  display: flex;
  align-items: center;
  gap: 16px;
}

.paginate-left:hover, .paginate-right:hover {
  cursor: pointer;
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 8px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(186, 85, 211, 0.8); 
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: mediumorchid; 
}


/* MOBILE */

@media only screen and (max-width: 500px) {

  .wrapper {
    margin-top: 30%;
  }

  .intro-modal {
    width: 90vw;
    background: white;
    top: 10%;
    color: mediumorchid;
    font-size: .75rem;
}

div.about {
  bottom: 16px;
  top: auto;
  right: 16px;
}

div.choose {
  bottom: 16px;
  top: auto;
  left: 16px;
}

}

